.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 260px;
  background-color: #0f0f0f;

}

.content {
  margin-bottom: 164px;
  color: white;
}

.content p {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  width: 625px;
  margin: 69px 0 58px 0;
  line-height: 58px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}

.button button {
  width: 252px;
  height: 62px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
}
